<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radial Navigation Menu</title>
    <link rel="stylesheet" href="css/stylesmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
     <header>
      <nav>
        <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                  <ul>
                    <li><a href="/home">Salir</a></li>
                    <li><a href="/dashboard">Juegos</a></li>
                    <li><a href="/bosco">Niveles</a></li>
                    <li><a href="/personajes">¿Quienes somos?</a></li>
                  </ul>
                </div>
            </div>
      </nav>
  </header>
    <title>Seleccione el Nivel del juego</title>
    <div class="bgAnimation" id="bgAnimation">
        <div class="backgroundAmim">
            
        </div>
    </div>
    <div class="container">
        <h1>Seleccione el Nivel del Juego</h1>
        <div class="hexagono1">
            
            <form action="/facil" method="get">
                <button type="submit" class="boton"><div class="heaxagono"><img src="/img/verde.png" alt=""><h4>Fácil</h4></div></button>
            </form>
        
            
            <form action="/medio" method="get">
                <button type="submit" class="boton"><div class="heaxagono"><img src="/img/amarillo.png" alt=""><h4>Medio</h4></div></button>
            </form>
            
            
            <form action="/dificil" method="get">
                <button type="submit" class="boton"><div class="heaxagono"><img src="/img/rojo.png" alt="" id=""><h4>Difícil</h4></div></button>
            </form>
            
            
        </div>

    <script src="js/script.js"></script>

</body>
