<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radial Navigation Menu</title>
    <link rel="stylesheet" href="css/stylesmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="toggle" id="toggle" onclick="menu-expand()">
        <i class="fas fa-plus" id="plus"></i>
    </div>
    <div class="menu" id="menu">
        <a href="">
            <i class="fas fa-camera"></i>
        </a>

        <a href="">
            <i class="fas fa-video"></i>
        </a>

        <a href="">
            <i class="fas fa-phone-volume"></i>
        </a>

        <a href="">
            <i class="fas fa-volume-up"></i>
        </a>

        <a href="">
            <i class="fas fa-clock"></i>
        </a>

        <a href="">
            <i class="fas fa-address-book"></i>
        </a>
    </div>

    <script>
        var i = 0;
        function expand()
        {
            if(i ==0)
            {
                document.getElementById("menu").style.transform ="scale(4)";
                document.getElementById("plus").style.transform = "rotate(137deg)";
                i = 1;
            }
            else
            {
                document.getElementById("menu").style.transform ="scale(0)";
                document.getElementById("plus").style.transform = "rotate(0deg)";
                i = 0;
            }
        }
    </script>

</body>


 <div class="container">
        <h1>Seleccione el Juego</h1>
        <div class="hexagono1">
            
           <form action="/po" method="get">
                <button type="submit" class="boton"> <div class="heaxagono"></div><img src="/img/paleta.png" alt=""><h4>Pong</h4></button>
            </form>
                
            <form action="/piedra" method="get">
                <button type="submit" class="boton"><div class="heaxagono"></div> <img src="/img/piedra papel tijera.png" alt=""><h4>Piedra,papel,tijera</h4></button>
            </form>

            <form action="/tate" method="get">
                <button type="submit" class="boton"><div class="heaxagono"></div><img src="/img/ta-te-ti.png" alt="" id="tate"><h4>Ta-te-ti</h4></button>
            </form>
          
        </div>
    </div>