<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radial Navigation Menu</title>
    <link rel="stylesheet" href="css/stylesmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
	<nav>
		<div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <ul>
                 <li><a href="/home">Salir</a></li>
                <li><a href="/dashboard">Juego</a></li>
                <li><a href="/personajes">¿Quienes somos?</a></li>
                <li><a href="/contacto">Contacto</a></li>
              </ul>
            </div>
    </div>
	</nav>
  </header>
    <title>Seleccione el Juego</title>
    <div class="bgAnimation" id="bgAnimation">
        <div class="backgroundAmim">
            
        </div>
    </div>
    <div class="container">
        <h1>Seleccione el Juego</h1>
        <div class="hexagono1">
            
            <form action="/pong" method="get">
                <button type="submit" class="boton"><div class="heaxagono"><img src="/img/paleta.png" alt=""><h4>Pong</h4></div></button>
            </form>
        
            
            <form action="/papelito" method="get">
                <button type="submit" class="boton"><div class="heaxagono"><img src="/img/piedra papel tijera.png" alt=""><h4>Piedra,papel,tijera</h4></div></button>
            </form>
            
            
            <form action="/tatetiyo" method="get">
                <button type="submit" class="boton"><div class="heaxagono"><img src="/img/ta-te-ti.png" alt="" id="tate"><h4>Ta-te-ti</h4></div></button>
            </form>
            
            
        </div>
        <div class="hexagono 2">
            <div class="hexagono1">
                <form action="/wordle" method="get">
                <button type="submit" class="boton"><div class="heaxagono"><img src="/img/paleta.png" alt=""><h4>wordle</h4></div></button>
                </form>

                <form action="/bosco" method="get">
                    <button type="submit" class="boton"><div class="heaxagono"><img src="/img/donBosco.png" alt="" id=""><h4>Atrapa a don bosco!</h4></div></button>
                </form>

            </div>


        </div>
    </div>

    <script src="js/script.js"></script>

</body>