<head>
  <meta charset="utf-8">
  <title>Busca a Don Bosco</title>
  <link rel="stylesheet" href="css/donBosco.css">
</head>
<body>
  <header>
      <nav>
        <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                  <ul>
                    <li><a href="/home">Salir</a></li>
                    <li><a href="/dashboard">Juegos</a></li>
                    <li><a href="/bosco">Niveles</a></li>
                    <li><a href="/personajes">¿Quienes somos?</a></li>
                  </ul>
                </div>
            </div>
      </nav>
  </header>
  <div class="grid">
    <div class="cuadrado" id="1"></div>
    <div class="cuadrado" id="2"></div>
    <div class="cuadrado" id="3"></div>
    <div class="cuadrado" id="4"></div>
    <div class="cuadrado" id="5"></div>
    <div class="cuadrado" id="6"></div>
    <div class="cuadrado" id="7"></div>
    <div class="cuadrado" id="8"></div>
    <div class="cuadrado" id="9"></div>
  </div>
  <div class="basurita">
    <h2>Puntaje:</h2>
    <h2 id="puntaje">0</h2>

    <h2>Tiempo:</h2>
    <h2 id="tiempoGastado">30</h2>
  </div>
  <script src="js/bosco/boscodificil.js"></script>
</body>
