<!-- login.handlebars -->
<head>
  <link rel="stylesheet" href="css/styles2.css" />
</head>

<h1>Iniciar sesión</h1>
<body>
 <div class="bgAnimation" id="bgAnimation">
        <div class="backgroundAmim">
            
        </div>
  </div>
  <div class="container">
    <div class="login-box">
      <h2>Ingrese</h2>
      
          <input type="email" class="Espacio"  name="email" placeholder="Correo electrónico" required />
          <input type="password" class="Espacio" name="password" placeholder="Contraseña" required />
          <input type="submit" onclick="login()" class="boton" value="Ingresar"/>

        <div>{{message}}</div>
    </div>
  </div>
  <script src="js/script.js"></script>
</body>