

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/curita.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <title>Piedra | Papel | Tijeras</title>
</head>
<body>
    <h1>Welcome to Rock, Paper and Scissors game</h1>
    <div id="inicio">
        <button onclick="crearJuego()">Crear Juego</button>
        <div>O</div>
        <input type="text" name="" id="crearId"></button>
        <button onclick="unirseJuego()">Unirse a Juego</button>
    </div>
    <div id="Juego">
        <div id="espera">
                
        </div>
        <div id="juego" style="display:none">
            <h4>vos:</h4>
                <div id="jugador1">
                <button class="roca" onclick="opcion('roca')">roca</button>
                <button class="papel" onclick="opcion('papel')">papel</button>
                <button class="tijera" onclick="opcion('tijera')">tijera</button>
                </div>
            <h4>oponente:</h4>
                <div id="jugador2">
                    <p  id="Estadooponente">Esperando al jugador</p>
                </div>
        <div id="Ganador">
            
        </div>
    </div>
<<<<<<< Updated upstream
    <div>
        <p id="msj-batalla" class="text-mensajes"> </p>
    </div>
    <h2>Elije un ataque</h2>
    <div>
        <img id="btn-piedra" class="btn-ataques" src="img/Piedra.PNG" alt="">
        <img id="btn-papel" class="btn-ataques" src="img/Papel.PNG" alt="">
        <img id="btn-tijeras" class="btn-ataques" src="img/Tijeras.PNG" alt="">
    </div>
    <script src="js/app.js"></script>
</body>

<script src="/socket.io/socket.io.js"></script>
socket.emit('joinRoom1', 'rivotril');
=======
</body>
>>>>>>> Stashed changes
