<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/curita.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    
    <title>Piedra | Papel | Tijeras</title>
</head>
<body>
    <h1>Bienvenido a piedra,papel,tijera. </h1>
    <div id="inicio">
        <button type="submit" onclick="crearJuego()">Crear Juego</button>
        <div>O</div>
        <input type="text" name="" id="crearId"></button>
        <button onclick="unirseJuego()">Unirse a Juego</button>
    </div>
    <div id="zonajuego">
        <div id="espera">
                
        </div>
        <div id="juego" style="display:none">
            <h4>vos:</h4>
                <div id="jugador1">
                <button class="roca" onclick="opcion('roca')">roca</button>
                <button class="papel" onclick="opcion('papel')">papel</button>
                <button class="tijera" onclick="opcion('tijera')">tijera</button>
                </div>
            <h4>oponente:</h4>
                <div id="jugador2">
                    <p  id="Estadooponente">Esperando al jugador</p>
                </div>
        <div id="Ganador">
            
        </div>
    </div>
</body>