<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/curita.css">
    <title>Piedra | Papel | Tijeras</title>
</head>
<body>
    <header>
	<nav>
		<div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <ul>
                 <li><a href="/home">Salir</a></li>
                <li><a href="/dashboard">Juego</a></li>
                <li><a href="/personajes">¿Quienes somos?</a></li>
                <li><a href="/contacto">Contacto</a></li>
              </ul>
            </div>
        </div>
	</nav>
  </header>
    <h1>Piedra | Papel | Tijeras</h1>
    <div id="campo-batalla" class="campo-batalla">
        <div id="img-ataque-jugador" class="caja-batala"><!--<img class="img-batalla" src="assets/Papel.PNG" alt="">--></div>
        <div class="caja-batala"><p class="text-mensajes">VS</p></div>
        <div id="img-ataque-pc" class="caja-batala"><!--<img class="img-batalla" src="assets/Piedra.PNG" alt="">--></div>
    </div>
    <div>
        <p id="msj-batalla" class="text-mensajes"> </p>
    </div>
    <h2>Elije un ataque</h2>
    <div>
        <img id="btn-piedra" class="btn-ataques" src="img/Piedra.PNG" alt="">
        <img id="btn-papel" class="btn-ataques" src="img/Papel.PNG" alt="">
        <img id="btn-tijeras" class="btn-ataques" src="img/Tijeras.PNG" alt="">
    </div>
    <script src="js/app.js"></script>
</body>

<script src="/socket.io/socket.io.js"></script>
socket.emit('joinRoom1', 'rivotril');