<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/pong.css">

    <title>PONG SALESIANO</title>
</head>
<body>
    <body>
    <h1 class="container py-4 title">Bienvenido a un pong Salesiano</h1>
    <div id="inicioPong" class="container col-md-6">
            <button class="form-control btn btn-primary" onclick="crearJuegoPong()">Crear juego</button> 
            <div class="text-center display-3">o</div>
            <input class="form-control my-2" placeholder="Ingresa el codigo" type="text" name="" id="idSalaPong" />
            <button class="form-control btn btn-secondary" onclick="unirseJuegoPong()">Unirse a juego</button>
    </div>
    <div id="zonaJuegoPong" class="container">
        <div id="esperaPong" class="h4">

        </div>
        <div id="juegoPong" class="h3 row" style="display: none;">
            <div class="container">
                <h1 id="heading">
                </h1>
                <div class="game">
                    <canvas id="canvas" width="800" height="500"></canvas>

                    <p id="message"> </p>
                    <button id="startBtn">
                        ARRANCA EL JUEGO KPO
                    </button>
                </div>
            </div>

            <script src="js/main.js"></script>
        </div>

</body>