<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/pong.css">

    <title>PONG SALESIANO</title>
</head>
<body>
    <div class="container">
        <h1 id="heading">
           PONG SALESIANO
        </h1>
        <div class="game">
            <canvas id="canvas" width="800" height="500"></canvas>

            <p id="message"> </p>
            <button id="startBtn">
                ARRANCA EL JUEGO KPO
            </button>
        </div>
    </div>

      <script src="js/main.js"></script>

</body>