<head>
  <link rel="stylesheet" href="css/stylesmenu.css" />
</head>

<header>
	<nav>
		<div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <ul>
                    <li><a href="/home1">Salir</a></li>
                    <li><a href="/wordle">Juego</a></li>
                    <li><a href="/personajes">¿Quienes somos?</a></li>
                    <li><a href="/contacto">Contacto</a></li>
              </ul>
            </div>
          </div>
	</nav>
    </header>
<body>
    <div class="bgAnimation" id="bgAnimation">
        <div class="backgroundAmim">
            
        </div>
    </div>
    <div class="container">
        <div class="hexagono1">
            <div class="heaxagono">
                <img src="/img/elpanaagus.jpg" alt=""></button>
                
                <h4>Pong</h4>
            </div>
            <div class="heaxagono">
                <img src="/img/barquitobarquito.jpg" alt=""></button>
                
                <h4>Pong</h4>
            </div>
            <div class="heaxagono">
                <img src="/img/figlioneta.jpg" alt=""></button>
                
                <h4>Pong</h4>
            </div>
            <div class="heaxagono">
                <img src="/img/juanita.jpg" alt=""></button>
                
                <h4>Pong</h4>
            </div>
            
        </div>
    </div>

    <script src="js/script.js"></script>
</body>