<!-- register.handlebars -->
<head>
  <link rel="stylesheet" href="css/styles2.css" />
</head>

<body>
  <div class="bgAnimation" id="bgAnimation">
        <div class="backgroundAmim">
            
        </div>
    </div>
  <section class="register">
    <div class="container">
      <div class="login-box">
      <h2>Registro</h2>
        <form action="/register" method="post">
          <input type="email" class="Espacio" name="email" placeholder="Correo electrónico" required />
          <input type="password" class="Espacio" name="password" placeholder="Contraseña" required />

          <button type="submit" class="boton">Registrarse</button>
        </form>
      </div>
    </div>
  <div>{{message}}</div>

  </section>
  <script src="js/script.js"></script>
</body>