<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/tateti.js"></script>
    <link rel="stylesheet" href="css/tateti.css" />
    <title>Ta-Te-Ti</title>
</head>
<body>
    <header>
	<nav>
		<div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <ul>
                 <li><a href="/home">Salir</a></li>
                <li><a href="/dashboard">Juego</a></li>
                <li><a href="/personajes">¿Quienes somos?</a></li>
                <li><a href="/contacto">Contacto</a></li>
              </ul>
            </div>
        </div>
	</nav>
    </header>
    <div id="inicioTate" class="container col-md-6">
        <button class="form-control btn btn-primary" onclick="crearJuegoTate()">Crear juego</button> 
        <div class="text-center display-3">o</div>
        <input class="form-control my-2" placeholder="Ingresa el codigo" type="text" name="" id="idSalaTate" />
        <button class="form-control btn btn-secondary" onclick="unirseJuegoTate()">Unirse a juego</button>
    </div>
    <div id="zonaJuegoTate" class="container">
        <div id="esperaTate" class="h4">

        </div>
        <div id="juegoTate" class="h3 row" style="display: none;">
            <main class="kk">
                <section class="title">
                    <h1>Ta-Te-Ti</h1>
                </section>
                <section class="display">
                    Rivas <span class="display-player playerX"></span> turno
                </section>
                <section class="container">
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                </section>
                <section class="display announcer hide"></section>
                <section class="controls">
                    <button id="reset">REINICIAR</button>
                </section>
            </main>
    

    <script src="js/tateti.js"></script>

    
</body>