<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tateti.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <title>Ta-Te-Ti</title>
</head>
<body>
    <header>
	<nav>
		<div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <ul>
                 <li><a href="/home">Salir</a></li>
                <li><a href="/dashboard">Juego</a></li>
                <li><a href="/personajes">¿Quienes somos?</a></li>
                <li><a href="/contacto">Contacto</a></li>
              </ul>
            </div>
        </div>
	</nav>
    </header>
    <main class="background">
        <section class="title">
            <h1>Ta-Te-Ti</h1>
        </section>
        <section class="display">
            Rivas <span class="display-player playerX"></span> turno
        </section>
        <section class="container">
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
            <div class="tile"></div>
        </section>
        <section class="display announcer hide"></section>
        <section class="controls">
            <button id="reset">REINICIAR</button>
        </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/tateti.js"></script>
</body>