<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
     <link rel="stylesheet" href="css/tateti.css" />
    <script src="js/tateti.js"></script>
    <title>Ta-Te-Ti</title>
    <style>
        .offcanvas-header{
            background-color: black;
        }
    </style>
</head>
<body>
    <header>
	<nav>
		<div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <ul>
                 <li><a href="/home">Salir</a></li>
                <li><a href="/dashboard">Juegos</a></li>
                <li><a href="/personajes">¿Quienes somos?</a></li>
              </ul>
            </div>
        </div>
	</nav>
    </header>
    <div id="inicioTate" class="container col-md-6">
        <h1 class="container py-4 title">Bienvenido al TA-TE-TI.</h1>
        <button class="form-control btn btn-primary" onclick="crearJuegoTate()">Crear juego</button> 
        <div class="text-center display-3">o</div>
        <input class="form-control my-2" placeholder="Ingresa el codigo" type="text" name="" id="idSalaTate" />
        <button class="form-control btn btn-secondary" onclick="unirseJuegoTate()">Unirse a juego</button>
    </div>
    <div id="zonaJuegoTate" class="container">
        <div id="esperaTate" class="h4">

        </div>
        <div id="juegoTate" style="display: none;">
           <form action="/tatetipiola" method="get">
                <button class="btn btn-primary" type="submit">¡Ir al juego!</button> 
    </div>

   
    
</body>