<head>
  <meta charset="utf-8">
  <h1>ODSLE</h1>
  <link rel="stylesheet" href="css/wordle.css">
</head>
<body>
    <div class="content">
            <form action="/reglas" method="POST" class="container-sm"></form>
            
            <main class=" main-container">
                <!-- <h2 class="loading"> Cargando...</h2> -->
                <div class="rowAndy" id="1">
                    <!-- <input type="text" maxlength="1" class="square"> -->

                </div>
            </main>
                <div class="result">
                    <!-- <p> Ganaste pichichi</p>
                    <button class="button">Reiniciar</button> -->   
                </div>
        <script>
                traerPalabras()
        </script>
    </div>
</body>



