@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Itim', cursive;
    font-size: 15px;
    text-align: center;
}
body{
    font-family: 'Itim', cursive;
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color:  #12181B;
    color: white;
    margin: 0;
}
.boton{
    width: 100%;
    height: 45px;
    background: aquamarine;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 600;
    margin: 5px;

}
#jugador2eleccion{
    display: flex;
    justify-content: center;
}
/*.btn .btn-primary .py-2 .my-2{
    display: flex;
    justify-content: center;
}
*/
button.btn.btn-primary.py-2.my-2{
    width: 25%;
    margin: 0 auto;
}


#waitingArea{
    display: grid;
    justify-content: center;
}
.menu {
    max-width: 100%;
    
  }
  .menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
  
.menu-wrap .toggler {
position: absolute;
top: 0;
left: 0;
z-index: 2;
cursor: pointer;
width: 50px;
height: 50px;
opacity: 0;
}

.menu-wrap .hamburger {
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 60px;
height: 60px;
padding: 1rem;
display: flex;
align-items: center;
justify-content: center;
}

/* Hamburger button */
.menu-wrap .hamburger > div {
position: relative;
flex: none;
width: 100%;
height: 2px;
background: white;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
content: "";
position: absolute;
z-index: 1;
top: -10px;
width: 100%;
height: 2px;
background: inherit;
}

/* animación */
.menu-wrap .hamburger > div::after {
top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
top: 0;
transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
transform: rotate(225deg);
}

/* mostrar menu */
.menu-wrap .toggler:checked ~ .menu {
visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
transform: scale(1);
transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
opacity: 1;
transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
background: rgba(255, 255, 255, 0.527);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
visibility: hidden;
overflow: auto;
display: flex;
align-items: center;
justify-content: center;
}

.menu-wrap .menu > div {  
/*width: 100vw;*/
height: 100vw;
display: flex;
flex: none;
align-items: center;
justify-content: center;
transform: scale(0);
transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
text-align: center;
max-width: 100vw;
max-height: 100vh;
opacity: 0;
transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
list-style: none;
color: black;
font-size: 1.5rem;
padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
color: inherit;
text-decoration: none;
transition: color 0.4s ease;
}
button{
border-radius: 50%;
}

img{
border-radius: 50%;
}

.menu {
max-width: 100%;

}
.menu-wrap {
position: fixed;
top: 0;
left: 0;
z-index: 1;
}

.menu-wrap .toggler {
position: absolute;
top: 0;
left: 0;
z-index: 2;
cursor: pointer;
width: 50px;
height: 50px;
opacity: 0;
}

.menu-wrap .hamburger {
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 60px;
height: 60px;
padding: 1rem;
background: rgba(255, 255, 255, 0);;
display: flex;
align-items: center;
justify-content: center;
}

/* Hamburger button */
.menu-wrap .hamburger > div {
position: relative;
flex: none;
width: 100%;
height: 2px;
background: #fff;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
content: "";
position: absolute;
z-index: 1;
top: -10px;
width: 100%;
height: 2px;
background: inherit;
}

/* animación */
.menu-wrap .hamburger > div::after {
top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
top: 0;
transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
transform: rotate(225deg);
}

/* mostrar menu */
.menu-wrap .toggler:checked ~ .menu {
visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
transform: scale(1);
transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
opacity: 1;
transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
background: rgba(255, 255, 255, 0.527);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
visibility: hidden;
overflow: auto;
display: flex;
align-items: center;
justify-content: center;
}

.menu-wrap .menu > div {  
/*width: 100vw;*/
height: 100vw;
display: flex;
flex: none;
align-items: center;
justify-content: center;
transform: scale(0);
transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
text-align: center;
max-width: 100vw;
max-height: 100vh;
opacity: 0;
transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
list-style: none;
color: #fff;
font-size: 1.5rem;
padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
color: inherit;
text-decoration: none;
transition: color 0.4s ease;
}

.maina{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 0px;
}
  
.chatcito{
display: flex;
background-color:rgba(81, 233, 132, 0.473) ;
margin-right: 0px;
width: 100%;
height: 100%;
align-items: end;
overflow-y: scroll;
}

.espaciomensaje {
display: flex;
flex-direction: column;
justify-content: end;
width: 100%;
height: 95%;
}

.inputmensaje{
display: flex;
justify-content: space-between;
width: 100%;
height: 5%;
}

.chat2{
display: flex;
margin-right: 0px;
width: 100%;
justify-content: right;
margin-bottom: 10px;
}

.chatderecha{
word-wrap: break-word;
width: 65%;
max-height: 100%;
background-color:rgba(50, 87, 248, 0.452);
margin-right: 10px;
border-radius: 5px;
color: black;
}

.chatizquierda{
word-wrap: break-word;
width: 65%;
max-height: 100%;
margin-left: 10px;
background-color:rgba(252, 133, 133, 0.452);
border-radius: 5px;
color: black;
}

.chat1{
display: flex;
justify-content: left;
margin-left: 0px;
width: 100%;
margin-bottom: 10px;
}

.iconderecha{
    display: flex;
    height: 10%;
    width: 120px;
    margin-top: 24px;
    margin-left: 24px;
    /* margin-right: 85px; */
    align-items: center;
    justify-content: center;
    color: rgb(59, 190, 70);
    flex-direction: row;
    background-color: none;
}
li:hover {
    background-color: rgb(159, 140, 246);
    font-size: 35px;
  }
a{
    color: #0d6efd;
    text-decoration: underline;
    font-size: 25px;
}
li{
    list-style: none;
}