.grid {
	width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 0 auto;
    column-gap: 24%;
    row-gap: 24%;
    padding-right: 0%;
    padding-top: 5%;
}

.cuadrado {
	height: 120px;
	width: 120px;
	border: none;
}

.bosco {
	background-image: url("/img/donBosco.png");
	background-size: cover;
}
h2{
	font-size: 15px;
}
body{
	background-image: url("/img/fondoBosco.png");
	background-size:85%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #edeeed;
}
	
.basurita{
	display: grid;
	grid-template-columns: auto;
	width: 8%;
	justify-content: first baseline;
}