@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap'); 

*{
    margin: 0;
    padding: 0;
    font-family:'Pixelify Sans', cursive;;
}

body{
  display: flex;  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(61, 0, 175);
}
.container{
    width:950px ;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap ;
}

.container .hexagono1{
    display: flex;
}

.container .hexagono1 .heaxagono{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 10px;
    clip-path:polygon(0 25%,50% 0,100% 25%,100% 76%,50% 100%,0 75%);
    background:deeppink;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition:.5s ;
    
}

.container .hexagono1 .heaxagono img{
    width: 80px;
    
}

.container .hexagono1 .heaxagono:hover{
    background: deepskyblue;
    transform: scale(0.8);
}

#tate{
    width: 100px;
}

