*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(209, 32, 32);
}


.maina{
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 0px;
}

.chatcito{
  display: flex;
  background-color:#979797 ;
  margin-right: 0px;
  width: 100%;
  height: 100%;
  align-items: end;
}

.chat1{
  margin-right: 0%;
  color: red;
  max-width: 70px;
  flex-wrap: wrap;
  display:flex;
  text-align: justify;
}

.chat2{
  margin-left: 300%;
  color: green;
  max-width: 70px;
  flex-wrap: wrap;
  display:flex;
  text-align: justify;
}

.iconderecha{
  display: flex;
  height: 10%;
  width: 120px;
  align-items: center;
  justify-content: right;
  color:rgb(59, 190, 70);
  flex-direction: row;
  background-color: none;
}
